body {
    font-family: 'Roboto', sans-serif;
    background-color: #D7B19D;
    color: #556B2F;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D2691E;
    color: #F5F5DC;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #F5F5DC;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #556B2F;
    color: #F5F5DC;
    text-align: center;
    padding: 10px;
}
